.intro{
    text-align: center;
    color: whitesmoke;
    font-size: 100%;

}
.navigations{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/photo1.jpg'); */
    background-color:#D35F6E;
    height: 80vh;
    background-size: cover;
  }
ul
{
    display: block;
    overflow: hidden;
    /* background-color:white; */
    list-style-type:none;
    width: 100%;
    margin-bottom: -15px;
    margin-top: -10px;
    /* position: fixed; */

}
li
{
    float: left;
}
li a
{
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 20px;
}
li a:hover
{
    /* background-color:black; */
    text-decoration: underline;

}
h2
{
    font-size:25px;
    font-style: inherit;
    color:black;
    margin-left: 5%;
}
em
{
    text-decoration: underline;
}
.image1{
  border-radius: 50%;
  border: 1px solid black;
  width: 10%;
  height: 10%;
  margin-top: -2%;
  margin-left: 5%;

}

.footer
{
    background-color: #00171F;
    background-position: bottom;
    padding: 10px;
    margin-top:10%;
    margin-left: -10px;
    margin-bottom:-50%;
    margin-right: -10px;

}
.fa
{
    padding:2%;
    font-size: 15px;
    text-decoration: none;
    display:inline-block;
    border-radius:50%;
    text-align: center;

}
.fa:hover
{
    opacity:0.8;
}
.fa-facebook
{
    background:black;
    color:white;
}
.fa-twitter
{
    background: black;
    color:white;
}
.fa-pinterest
{
    background: black;
    color:white;
}
.fa-linkedin
{
    background-color: black;
    color:white;
   
}
h3
{
    text-align: center;
}
.icons
{
    text-align: center;
}
/* .button
{
    background-color:grey;
    border:2px light black;
    border-radius:20px;
    color:black;
    text-align: center;
    text-decoration: none;
    width:30%;
    height:35%;
    margin-top:10%;
    /* padding: -5px; */
    /* padding-bottom: 20px;
    padding-top:1px; 

} */
a
{
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.button :hover
{
background-color:white;

}